* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  /**border: solid 1px #000;*/
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  color: #979998;
}

/** LETRAS **/

.naranja {
  color: #e0a80d;
  font-weight: 600;
  font-size: 20;
}

header .panel-der-uno h2 {
  margin-top: 10%;
  font-weight: 300;
  font-size: 67px;
  line-height: 61px;
  color: #a4a5a6;
}

header .panel-der-uno h1 {
  font-weight: 700;
  font-size: 67px;
  line-height: 61px;
  color: #e0a80d;
  margin-bottom: 1%;
}

.negrita {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #a4a5a6;
}

header .panel-der-uno h4 {
  font-weight: 300;
  font-size: 21px;
  line-height: 37px;
  color: #979899;
}

/** LETRAS **/

/** IMAGEN **/

#img-redonda {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#img-redonda img {
  width: 100%;
  height: auto;
  margin-top: -20px;
}

/** IMAGEN **/

/** BOTONES **/

.botones,
.botones-dos {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background-color: #979e9e;
  border: none;
  border-radius: 4px;
}

.botones-dos {
  width: 150px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

#redes {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/** BOTONES **/

#des {
  width: 50%;
}

header,
section {
  display: flex;
  height: 100%;
}

#des-redes {
  display: flex;
  width: 100%;
}

/** PANELES **/

.panel-izq-uno {
  background-color: #2b2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  /**padding-left: 50px;
  padding-right: 50px;**/
  width: 51.4%;
}

.panel-der-uno {
  background-color: #2d2f2f;
  width: 100%;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.panel-izq-dos,
.panel-izq-tres,
.panel-izq-cua {
  background-color: #282b2a;
  width: 49.9%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.panel-der-dos,
.panel-der-tres,
.panel-der-cua {
  background-color: #2b2c2c;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.panel-izq-tres {
  background-color: #2b2c2c;
  width: 189%;
}

.panel-der-tres {
  background-color: #2d2f2f;
  padding-right: 0px;
}

.panel-izq-cua {
  width: 29.1%;
}

.panel-der-cua {
  padding-right: 0px;
}

/** PANELES **/

/** MODALS **/

.modal-contenido {
  background-color: #2b2c2c;
  width: 500px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  border-radius: 5px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.modal-contenido a {
  transition: all 1s;
}

#modal1:target,
#modal2:target,
#modal3:target,
#modal4:target,
#modal5:target,
#modal6:target {
  opacity: 1;
  pointer-events: auto;
  transition: all 1s;
}

a {
  text-decoration: none;
}

a h3 {
  background-color: #979e9e;
  text-decoration: none;
  border-radius: 4px;
  padding: 0px 10px;
  width: 170px;
  text-align: center;
}

.porcentaje {
  float: left;
  margin-right: 10px;
}

.contenedor {
  display: flex;
  float: left;
  margin-bottom: 5%;
  margin-right: 5%;
}

/** MODALS **/

/** BARRA DE INFORMACIÓN **/

ul li {
  display: inline-block;
}

hr {
  height: 2px;
  color: #404343;
  background: #404343;
  font-size: 0;
  border: 0;
  margin-top: 10%;
  margin-bottom: 2%;
}

#info-general {
  display: flex;
  justify-content: space-between;
}

/** BARRA DE INFORMACIÓN **/

section div h6 {
  text-align: right;
}

.caja-numero {
  float: left;
  margin-right: 10px;
}

.caja-cuerpo {
  width: 80%;
}

.caja-completa {
  float: left;
  width: 49%;
  height: auto;
  margin-bottom: 40px;
}

/** BARRA DE PROGRESO **/

progress[value] {
  width: 380px;
  height: 5px;

  appearance: none;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #404343;
}

progress[value]::-webkit-progress-value {
  background-color: #e0a80d;
}

/** BARRA DE PROGRESO **/
